# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/

# Assets & local media
photos/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db